<div *ngIf="hero">
  <h2>{{ hero.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ hero.id }}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="name" />
  </div>
  <div class="btn-group">
    <button type="button " class="btn btn-success" (click)="save()">
      save
    </button>
    <button type="button " class="btn btn-info" (click)="goBack()">
      go back
    </button>
    <!-- delete -->
    <button type="button " class="btn btn-danger" (click)="delete()">
      delete
    </button>
  </div>
</div>
