/* You can add global styles to this file, and also import other style files */

.btn-group {
  display: flex;
  margin: 1rem 0;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.btn-success {
  background-color: #4caf50;
}

.btn-success:hover {
  background-color: #46a049;
}

.btn-info {
  background-color: #2196f3;
}

.btn-info:hover {
  background-color: #0b7dda;
}

.btn-danger {
  background-color: #f44336;
}

.btn-danger:hover {
  background-color: #da190b;
}
